//Main content stylesheet
.container {
    width: 100%;
    max-width: toRem(700);
    margin: 0 auto;
    color: #444;
    font-family: 'Vollkorn', serif;
    font-size: toRem(18);
    line-height: toRem(35);
}

.flourish {
    opacity: .05;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    display: block;
    margin: toRem(48) auto;
    width: 100%;
    max-width: toRem(70);
    svg {
        @include transition(transform, 1s);
        &:hover {
            @include transform(rotateX(180deg));
            @include transform-style(preserve-3d);
            @include transform-origin(center);
        }
    }
}

.site-intro {
    @include doubleRule(after);
    .heading--primary {
        margin-bottom: toRem(8);
    }
    .heading--secondary {
        margin-top: 0;
    }
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 0 toRem(20);
}

.heading--primary,
.heading--secondary {
    text-transform: uppercase;
}

.heading--primary {
    font-size: toRem(32);
    line-height: toRem(42);
    color: $darkBlue;
}

.heading--secondary {
    font-size: toRem(18);
    line-height: toRem(28);
}

.site-main {
    p {
        text-align: justify;
        padding: 0 toRem(20);
        margin-top: 0;
    }
    a {
        color: $darkBlue;
        @include linear-gradient(to bottom, transparent 85%, $darkBlue 85%);
        background-size: toRem(10) toRem(10);
        background-position: 0 80%;
        background-repeat: repeat-x;
        text-decoration: none;
        @include transition(background, .15s);
        &:hover {
            background-size: 0;
            background-position: 0 30%;
            color: #444;
        }
    }
}

.site-contact {
    padding: 0 toRem(20);
    .heading--secondary {
        margin-top: toRem(24);
        font-size: toRem(16);
        @include doubleRule(before);
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 auto toRem(16);
    }
    li {
        margin: 0;
        padding: 0;
        display: block;
        margin: 0 0 toRem(24);
        font-size: toRem(16);
        @media all and (min-width: 600px) {
            display: inline-block;
            width: 47%;
            margin: 0 5% 3% 0;
            text-align: left;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    a {
        color: $darkBlue;
        line-height: 1.2;
        padding: toRem(12) 0 toRem(4);
        display: block;
        border-bottom: 1px solid $darkBlue;
        text-decoration: none;
        @include transition-property (background, color);
        @include transition-duration(.25s);
        .icon {
            fill: $darkBlue;
            height: toRem(16);
            width: toRem(16);
            margin-right: toRem(5);
            margin-left: 0;
            float: left;
            @include transition-property (fill, margin);
            @include transition-duration(.25s);
        }
        &:hover {
            background: $darkBlue;
            color: #fff;
            .icon {
                fill: #fff;
                margin-left: toRem(10);
            }
        }
    }
}
